.header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 3rem;

  @media only screen and (max-width: 950px) {
    flex-direction: column;
    height: 100%;
    padding: 3rem;
  }

  .pricing-nav-link {
    position: absolute;
    right: 2rem;
    font-size: 2rem;
    color: var(--color-blue);
    top: 1rem;
  }

  &__text {
    width: 50%;
    margin-top: 10rem;
    line-height: 1.6;
    text-transform: capitalize;
    font-family: var(--font-Neue);

    @media only screen and (max-width: 650px) {
      margin: 0;
    }
    @media only screen and (max-width: 950px) {
      order: 2;
    }

    &--primary {
      font-weight: 400;
      @media only screen and (max-width: 690px) {
        font-size: 183%;
      }
    }

    &--secondary {
      margin-top: 2rem;
      letter-spacing: 0.1rem;
    }

    @media only screen and (max-width: 950px) {
      width: 100%;
    }
  }

  &__image {
    display: block;
    margin-top: 10rem;
    width: 50%;
    height: 70%;

    @media only screen and (max-width: 950px) {
      margin: 10rem 0 3rem 0;
      width: 100%;
      order: 1;
    }
  }
}

//Above
.block {
  margin-top: 10rem;
  height: 20rem;
  width: 100%;
  background-color: var(--color-light-grey);
  text-align: center;

  @media only screen and (max-width: 520px) {
    height: 25rem;
    margin-top: 0;
  }

  &__title {
    padding: 2rem 0;
    font-size: 3rem;

    @media only screen and (max-width: 520px) {
      padding: 1rem 0;
    }
  }
}
